name: Build, scan and publish Docker image

on:
  workflow_call:
    inputs:

      java-version:
        description: Main version of java
        default: "21"
        required: false
        type: string

      java-distribution:
        description: Java distribution to use
        default: "liberica"
        required: false
        type: string

      registry-url:
        description: URL of the Docker container registry (e.g., ghcr.io)
        default: "ghcr.io/felleslosninger"
        required: false
        type: string

      image-name:
        description: Name of Docker image
        required: false
        type: string

      image-signing:
        description: Flag to toggle image signing on/off - default off
        default: true
        required: false
        type: boolean

      container-scan-offline-mode:
        description: Container-scan is default download updated CVE definitions via Trivy, enable offline on download problems
        default: false
        type: boolean

      slack-channel-id:
        description: Team channel id
        default: ""
        required: false
        type: string

      application-path:
        default: "./integrasjonspunkt"
        required: false
        type: string

      add-git-package-token:
        description: Adds GIT_PACKAGE_TOKEN build argument for Docker
        required: false
        type: boolean

      package-version:
        description: Version to use for maven package
        default: ""
        required: false
        type: string

    outputs:
      image-digest:
        description: "Docker image SHA256 digest"
        value: ${{ jobs.build-publish-image.outputs.image-digest }}

jobs:
  build-publish-image:
    runs-on: ubuntu-latest

    env:
      REPOSITORY-NAME: ${{ github.event.repository.name }}
      DOCKLE_HOST: "unix:///var/run/docker.sock"
      TRIVY_OFFLINE_SCAN: ${{ inputs.container-scan-offline-mode }}

    outputs:
      image-digest: ${{ steps.set-image-digest.outputs.image-digest }}

    permissions:
      id-token: write
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # pin@v5.2.0
        with:
          distribution: "${{ inputs.java-distribution }}"
          java-version: ${{ inputs.java-version }}

      - name: Set image name
        id: set-image-name
        run: |
          image_name=${{ inputs.registry-url }}/${{ inputs.image-name || github.event.repository.name }}
          echo "image-name=$image_name" >> "$GITHUB_OUTPUT"
          echo "- Image name: $image_name" >> "$GITHUB_STEP_SUMMARY"

      - name: Build image
        run: |
          docker build \
            --tag ${{ steps.set-image-name.outputs.image-name }}:${{ inputs.package-version }} \
            --file ${{ inputs.application-path }}/docker/Dockerfile \
            --build-arg GIT_PACKAGE_TOKEN=${{ secrets.GH_PACKAGES_READ_PAT }} \
            --build-arg GIT_PACKAGE_USERNAME=${{ secrets.GH_PACKAGES_READ_USER }} \
            .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # pin@v0.33.1
        id: trivy-primary
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db:2,public.ecr.aws/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db:1,public.ecr.aws/aquasecurity/trivy-java-db:1
        with:
          image-ref: ${{ steps.set-image-name.outputs.image-name }}:${{ inputs.package-version }}
          exit-code: "1"
          severity: "CRITICAL,HIGH"

      - name: Create SBOM artifact name
        id: sbom-name
        run: |
          SBOM_NAME=$(echo ${{ steps.set-image-name.outputs.image-name }} | tr '/' '-')
          echo "sbom-artifact-id=$SBOM_NAME" >> "$GITHUB_OUTPUT"
          echo "- SBOM: $SBOM_NAME" >> "$GITHUB_STEP_SUMMARY"

      - name: Run Trivy SBOM generation
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # pin@v0.33.1
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db:2,public.ecr.aws/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db:1,public.ecr.aws/aquasecurity/trivy-java-db:1
        with:
          scan-type: image
          format: github
          image-ref: "${{ steps.set-image-name.outputs.image-name }}:${{ inputs.package-version}}"
          output: "sbom-${{ steps.sbom-name.outputs.sbom-artifact-id }}-${{ inputs.package-version }}.json"
          github-pat: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload trivy report as a Github artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: "sbom-${{ steps.sbom-name.outputs.sbom-artifact-id }}-${{ inputs.package-version }}"
          path: "${{ github.workspace }}/sbom-${{ steps.sbom-name.outputs.sbom-artifact-id }}-${{ inputs.package-version }}.json"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # pin@v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Push image"
        run: docker push ${{ steps.set-image-name.outputs.image-name }}:${{ inputs.package-version }}

      - name: Set image digest
        id: set-image-digest
        run: |
          image_digest=$(docker inspect \
            --format='{{.RepoDigests}}' ${{ steps.set-image-name.outputs.image-name }}:${{ inputs.package-version }} \
            | cut -d '@' -f 2 \
            | cut -d ']' -f 1)
          echo "image-digest=$image_digest" >> "$GITHUB_OUTPUT"
          echo "- Image digest: $image_digest" >> "$GITHUB_STEP_SUMMARY"

      - name: Image signing
        if: ${{ inputs.image-signing == true }}
        uses: felleslosninger/github-workflows/.github/actions/image-signing@main
        with:
          image: ${{ steps.set-image-name.outputs.image-name }}:${{ inputs.package-version }}

  notify-on-errors:
    runs-on: ubuntu-latest
    needs: [build-publish-image]
    if: always() && contains(needs.*.result, 'failure')
    strategy:
      matrix:
        slack-channel: ["${{ inputs.slack-channel-id }}", "C05G4B8R2GG"]
    steps:
      - name: Send Slack notification
        uses: felleslosninger/github-actions/send-slack-notification@e4ba7c675762d5e9d3eeb48d6b75042e3dd325d3 # pin@v0.7.5
        with:
          slack-channel-id: ${{ matrix.slack-channel }}
          slack-bot-token: ${{ secrets.SLACK_CICD_NOTIFICATION_TOKEN }}
          failed: "true"
