name: Release to github packages

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: '11'
        required: false
        type: string
      sbom-path:
        description: Target directory for SBOM generation
        default: ./target/
        required: false
        type: string

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: ${{ inputs.java-version }}
      - uses: s4u/maven-settings-action@v2.8.0
        with:
          servers: |
            [{
            "id": "github",
            "username": "${{ secrets.MAVEN_USER }}",
            "password": "${{ secrets.MAVEN_PASSWORD }}"
            }]
      - name: Deploy to Github Package Registry
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>github</id><username>${{ secrets.CREATE_PACKAGES_USER }}</username><password>${{ secrets.CREATE_PACKAGES_TOKEN }}</password></server></servers></settings>" > ~/.m2/settings.xml
          REPO="github::default::https://maven.pkg.github.com/${GITHUB_REPOSITORY}"
          mvn versions:set -B -DnewVersion="${{ github.event.release.tag_name }}"
          mvn -B deploy -DaltDeploymentRepository="${REPO}"
      - uses: anchore/sbom-action@v0
        with:
          path: ${{ inputs.sbom-path }}
