name: Release to github packages

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: "11"
        required: false
        type: string
      sbom-path:
        description: Target directory for SBOM generation
        default: ./target/
        required: false
        type: string
      profile:
        description: Maven profile to use
        required: false
        type: string
      package-version:
        description: Version to use for maven package
        default: ""
        required: false
        type: string
      deployment-repository:
        description: Set deployment repo
        default: ""
        required: false
        type: string
      artifact-name:
        required: false
        type: string
      setup-npm-auth:
        description: Configure private NPM registry authentication
        default: false
        required: false
        type: boolean
      cache-path:
        default: "**/pom.xml"
        required: false
        type: string
      fetch-depth:
        description: Fetch depth
        default: 1
        required: false
        type: number
      application-path:
        default: "./"
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
        with:
          fetch-depth: ${{ inputs.fetch-depth }}
      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # pin@v5.0.0
        with:
          distribution: "liberica"
          java-version: ${{ inputs.java-version }}
          cache: maven
          cache-dependency-path: ${{ inputs.cache-path }}

      - name: Configure private NPM registry authentication
        if: ${{ inputs.setup-npm-auth == true }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # pin@v5.0.0
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@felleslosninger'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set m2 settings to read organization packages
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>github</id><username>${{ secrets.GH_PACKAGES_READ_USER }}</username><password>${{ secrets.GH_PACKAGES_READ_PAT }}</password></server></servers></settings>" > ~/.m2/settings.xml
      
      - name: Set version
        run: |
          if [ "${{ inputs.package-version }}" != "" ]; then
            mvn versions:set -B -DnewVersion="${{ inputs.package-version }}"
            echo "- \`mvn versions\` was executed" >> "$GITHUB_STEP_SUMMARY"
          else
            echo "- \`mvn versions\` was not executed" >> "$GITHUB_STEP_SUMMARY"
          fi

      - name: Maven install
        run: |
          if [ -n "${{ inputs.profile }}" ]; then
            mvn -B clean install --update-snapshots -P"${{ inputs.profile }}"
          else
            mvn -B clean install --update-snapshots
          fi

      - name: Set trivyignore env if file exists
        id: set-trivyignore-path
        run: |
          if [ -f "${{ inputs.application-path }}.trivyignore" ]; then
            trivyignore_path=${{ inputs.application-path }}.trivyignore
            echo "trivyignore-path=$trivyignore_path" >> "$GITHUB_OUTPUT"
            echo "- Trivy ignore path: $trivyignore_path" >> "$GITHUB_STEP_SUMMARY"
          fi

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # pin@v0.33.1
        id: trivy-maven
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db:2,public.ecr.aws/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db:1,public.ecr.aws/aquasecurity/trivy-java-db:1
        with:
          scan-type: 'fs'
          scan-ref: '${{ inputs.application-path }}'
          exit-code: "1"
          severity: "CRITICAL,HIGH"
          trivyignores: ${{ steps.set-trivyignore-path.outputs.trivyignore-path }}

      - name: Overwrite m2 settings to publish libs
        run: |
          echo "<settings><servers><server><id>github</id><username>${{ github.actor }}</username><password>${{ github.token }}</password></server></servers></settings>" > ~/.m2/settings.xml

      - name: Maven deploy
        run: |
          MAVEN_CMD="mvn -B deploy"

          if [ "${{ inputs.profile }}" != "" ]; then
            MAVEN_CMD="$MAVEN_CMD -P${{ inputs.profile }}"
          fi

          if [ "${{ inputs.deployment-repository }}" != "" ]; then
            MAVEN_CMD="$MAVEN_CMD -DaltDeploymentRepository=github::default::https://maven.pkg.github.com/${{ inputs.deployment-repository }}"
          fi
          
          cd ${{ inputs.application-path }} # Move into module path if multi module project, default is "./" so no operation if not specified.

          $MAVEN_CMD

      - name: Set artifact id
        id: set-artifact-id
        run: |
          echo "artifact-id=${{ inputs.artifact-name }}-${{ github.run_number }}-${{ github.run_attempt }}.spdx" >> "$GITHUB_OUTPUT"

      - uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # pin@v0.20.10
        with:
          path: ${{ inputs.sbom-path }}
          artifact-name: ${{ steps.set-artifact-id.outputs.artifact-id }}
