name: Release to github packages

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: '11'
        required: false
        type: string
      sbom-path:
        description: Target directory for SBOM generation
        default: ./target/
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ inputs.java-version }}
      - name: Deploy to Github Package Registry
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>github</id><username>${{ github.actor }}</username><password>${{ github.token }}</password></server></servers></settings>" > ~/.m2/settings.xml
          REPO="github::default::https://maven.pkg.github.com/${{ github.repository }}"
          mvn versions:set -B -DnewVersion="${{ github.event.release.tag_name }}"
          mvn -B deploy -DaltDeploymentRepository="${REPO}"
      - uses: anchore/sbom-action@v0
        with:
          path: ${{ inputs.sbom-path }}
