# 1. Verifies PR title
# 2. Builds and runs application
# 3. Scans image with Trivy
# 4. Auto-merges Dependabot PRs (optional)

name: PR Checks

on:
  workflow_call:
    inputs:
      application-type:
        type: string
        required: true
      enable-auto-merge-dependabot:
        type: boolean
        default: false
      enable-pr-title-verify:
        type: boolean
        default: true
      enable-trivy-image-scan:
        type: boolean
        default: true
      java-version:
        default: "21"
        required: false
        type: string
      java-distribution:
        description: Java distribution to use
        default: "liberica"
        required: false
        type: string
      image-name:
        description: Name of Docker image
        required: false
        type: string
      image-pack:
        description: Docker image pack of builder-jammy-tiny, builder-jammy-base or builder-jammy-full
        default: builder-jammy-tiny
        required: false
        type: string
      auto-merge-types:
        type: string
      pull-request-title:
        type: string
        required: true
      pull-request-allowed-prefixes:
        type: string
        required: true
      pull-request-min-length-title:
        type: number
        required: false
        default: 10
      pull-request-max-length-title:
        type: number
        required: false
        default: 100
      pull-request-case-sensitive-prefix:
        type: boolean
        required: false
        default: true
      artifact-name:
        type: string
        required: false
      artifact-path:
        type: string
        required: false
      native:
        required: false
        type: boolean
        default: false
      cache-path:
        default: "**/pom.xml"
        required: false
        type: string

jobs:
  verify-pull-request-title:
    if: |
      inputs.enable-pr-title-verify == true &&
      github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        id: check-pr-title
        uses: felleslosninger/github-actions/validate-pull-request-title@e4ba7c675762d5e9d3eeb48d6b75042e3dd325d3 # pin@v0.7.5
        with:
          pull-request-title: ${{ inputs.pull-request-title }}
          allowed-prefixes: ${{ inputs.pull-request-allowed-prefixes }}
          min-length-title: ${{ inputs.pull-request-min-length-title }}
          max-length-title: ${{ inputs.pull-request-max-length-title }}
          case-sensitive-prefix: ${{ inputs.pull-request-case-sensitive-prefix }}

      - name: Write to summary
        uses: felleslosninger/github-actions/json-to-summary@e4ba7c675762d5e9d3eeb48d6b75042e3dd325d3 # pin@v0.7.5
        with:
          json: ${{ toJson(steps.check-pr-title.outputs) }}
          title: "PR title check results"

      - name: Fail if PR title is not valid
        if: steps.check-pr-title.outputs.is-valid == 'false'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # pin@v8.0.0
        with:
          script: |
            core.setFailed('${{ steps.check-pr-title.outputs.error-message }}')

  build-and-test-java:
    if: |
      inputs.application-type == 'spring-boot' ||
      inputs.application-type == 'quarkus'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # pin@v5.0.0
        with:
          distribution: "${{ inputs.java-distribution }}"
          java-version: ${{ inputs.java-version }}
          cache: maven
          cache-dependency-path: ${{ inputs.cache-path }}

      - name: Maven environment setup
        uses: s4u/maven-settings-action@894661b3ddae382f1ae8edbeab60987e08cf0788 # pin@v4.0.0
        with:
          servers: |
            [{
                "id": "github-oidc-sdk",
                "username": "${{ secrets.MAVEN_USER }}",
                "password": "${{ secrets.MAVEN_PASSWORD }}"
            },
            {
                "id": "github",
                "username": "${{ secrets.MAVEN_USER }}",
                "password": "${{ secrets.MAVEN_PASSWORD }}"
            }]

      - name: Run build and test with Maven
        run: mvn -B test

      - name: Upload artifact
        if: |
          !cancelled() &&
          inputs.artifact-path != ''
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-path }}

  call-spring-boot-container-scan:
    name: Call Spring Boot container scan
    if: |
      inputs.enable-trivy-image-scan == true &&
      inputs.application-type == 'spring-boot'
    uses: felleslosninger/github-workflows/.github/workflows/ci-spring-boot-container-scan.yml@main
    with:
      image-name: ${{ inputs.image-name }}
      image-pack: ${{ inputs.image-pack }}
      java-version: ${{ inputs.java-version }}
    secrets: inherit

  call-quarkus-container-scan:
    name: Call Quarkus container scan
    if: |
      inputs.enable-trivy-image-scan == true &&
      inputs.application-type == 'quarkus'
    uses: felleslosninger/github-workflows/.github/workflows/ci-quarkus-container-scan.yml@main
    with:
      image-name: ${{ inputs.image-name }}
      image-pack: ${{ inputs.image-pack }}
      java-version: ${{ inputs.java-version }}
      native: ${{ inputs.native }}
    secrets: inherit

  call-auto-merge:
    name: Call auto-merge
    if: |
      always() &&
      inputs.enable-auto-merge-dependabot == true &&
      (needs.build-and-test-java.result == 'success' || needs.build-and-test-java.result == 'skipped') &&
      (needs.call-spring-boot-container-scan.result == 'success' || needs.call-spring-boot-container-scan.result == 'skipped') &&
      (needs.call-quarkus-container-scan.result == 'success' || needs.call-quarkus-container-scan.result == 'skipped')
    needs:
      [
        build-and-test-java,
        call-spring-boot-container-scan,
        call-quarkus-container-scan,
      ]
    uses: felleslosninger/github-workflows/.github/workflows/misc-approve-and-merge-dependabot-pr.yml@main
    with:
      update-types: ${{ inputs.auto-merge-types }}
    secrets: inherit

  call-build-image:
    name: Call build image
    if: needs.call-auto-merge.outputs.merged == 'true'
    runs-on: ubuntu-latest
    needs: call-auto-merge
    steps:
      - name: call-build-publish-image
        uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # pin@v3.0.0
        with:
          event-type: build-publish-image
