# Merge Update Version PR Workflow
# This workflow automates the process of merging and approving a pull request for updating the version of a repository.

name: Merge Update Version PR

on:
  workflow_call:
    inputs:
      pull-request-number:
        required: true
        type: string
      repository:
        required: true
        type: string

jobs:
  approve-and-merge-pr:
    runs-on: ubuntu-latest

    steps:
      # Displaying the input values for reference
      - name: Write inputs to summary
        uses: felleslosninger/github-actions/json-to-summary@e4ba7c675762d5e9d3eeb48d6b75042e3dd325d3 # pin@v0.7.5
        with:
          json: ${{ toJson(inputs) }}
          title: "Inputs"

      # Checking out the specified repository
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # pin@v5.0.1
        with:
          repository: felleslosninger/${{ inputs.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}

      # Approving the pull request using GitHub CLI
      - name: Auto approve
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        run: |
          gh pr review --approve "${{ inputs.pull-request-number }}"
          echo "- :white_check_mark: PR ${{ inputs.pull-request-number }} approved" >> "$GITHUB_STEP_SUMMARY"

      # Merging the pull request, squashing commits, and deleting the branch
      - name: Pull Request Activate Automerge
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sleep 3
          gh pr merge --squash --auto --delete-branch "${{ inputs.pull-request-number }}"
          echo "- :white_check_mark: PR ${{ inputs.pull-request-number }} merged" >> "$GITHUB_STEP_SUMMARY"
