name: Build/publish Docker image

on:
  workflow_call:
    inputs:
      image-name:
        description: Name of Docker image
        required: false
        type: string
      slack-channel-id:
        description: Team channel id
        default: ""
        required: false
        type: string
      k6-folder:
        description: Folder with k6-tests
        default: "k6-load-tests"
        required: false
        type: string
      k6-libs-folder:
        description: Folder with k6-tests
        default: "libs"
        required: false
        type: string
      k6-jwt-folder:
        description: jwtbearer once everything is ok this can be removed
        default: "jwtbearer"
        required: false
        type: string
      k6-docker-folder:
        description: docker folder ,once everything is ok this can be removed
        default: "docker-new"
        required: false
        type: string
    outputs:
      image-version:
        description: "Docker image version"
        value: ${{ jobs.build-publish-image.outputs.imagetag }}
      image-digest:
        description: "Docker image SHA256 digest"
        value: ${{ jobs.build-publish-image.outputs.imagedigest }}
jobs:
  build-publish-image:
    runs-on: ubuntu-latest
    env:
      REPOSITORY-NAME: ${{ github.event.repository.name }}
      DOCKLE_HOST: "unix:///var/run/docker.sock"
    outputs:
      imagetag: ${{ steps.output-image-tag.outputs.imagetag }}
      imagedigest: ${{ steps.output-image-digest.outputs.imagedigest }}

    permissions:
      id-token: write
      contents: write
      
    steps:
      - name: Set imagetag as env variable
        run: echo "IMAGETAG=$(date +'%Y-%m-%d-%H%M')-${GITHUB_SHA::8}" >> "$GITHUB_ENV"

      - name: Set IMAGE_NAME env variable
        run: |
          echo "IMAGE_NAME=${{ secrets.REGISTRY_URL }}/${{ inputs.image-name || env.REPOSITORY-NAME }}" >> "$GITHUB_ENV"

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0

      - name: Find and replace image version for ${{ env.IMAGETAG }} in version endpoint
        uses: jacobtomlinson/gha-find-replace@f1069b438f125e5395d84d1c6fd3b559a7880cb5 # pin@v3.0.5
        id: update-version
        with:
          find: "DEV-SNAPSHOT"
          replace: "${{ env.IMAGETAG }}"
          include: "docker/version"
          regex: false

      - name: Copy k6-tests to docker temp
        run: |
          cp -R ${{ inputs.k6-folder }}/* docker/k6-tests/
          mkdir docker/${{ inputs.k6-libs-folder }}
          cp -R ${{ inputs.k6-libs-folder }}/* docker/${{ inputs.k6-libs-folder }}/
          mkdir docker/${{ inputs.k6-jwt-folder }}
          cp -R ${{ inputs.k6-jwt-folder }}/* docker/${{ inputs.k6-jwt-folder }}/
          mkdir docker/${{ inputs.k6-docker-folder }}
          cp -R ${{ inputs.k6-docker-folder }}/* docker/${{ inputs.k6-docker-folder }}/
      - name: Build the tagged Docker image
        run: docker build --tag ${{env.IMAGE_NAME}}:${{env.IMAGETAG}} docker/

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # pin@v0.33.1
        id: trivy-primary
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db:2,public.ecr.aws/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db:1,public.ecr.aws/aquasecurity/trivy-java-db:1
        with:
          image-ref: ${{env.IMAGE_NAME}}:${{env.IMAGETAG}}
          exit-code: "1"
          severity: "CRITICAL,HIGH"

      - name: Login to ACR
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to Azure Container Registry
        run: az acr login --name "$ACR_NAME"
        env:
          ACR_NAME: ${{ vars.ACR_NAME }}

      - name: "Build the tagged Docker image"
        run: |
          docker push ${{env.IMAGE_NAME}}:${{env.IMAGETAG}}
          docker image tag ${{env.IMAGE_NAME}}:${{env.IMAGETAG}} ${{env.IMAGE_NAME}}:latest && docker push ${{env.IMAGE_NAME}}:latest

      - name: "Set image digest"
        run: |
          echo "IMAGE_DIGEST=$(docker inspect --format='{{.RepoDigests}}' ${{env.IMAGE_NAME}}:${{env.IMAGETAG}}|cut -d '@' -f 2|cut -d ']' -f 1)" >> "$GITHUB_ENV"

      - id: output-image-tag
        run: echo "imagetag=${{env.IMAGETAG}}" >> "$GITHUB_OUTPUT"

      - id: output-image-digest
        run: echo "imagedigest=${{env.IMAGE_DIGEST}}" >> "$GITHUB_OUTPUT"
  notify-on-errors:
    runs-on: ubuntu-latest
    needs: [build-publish-image]
    if: always() && contains(needs.*.result, 'failure')
    strategy:
      matrix:
        slack-channel: ["${{ inputs.slack-channel-id }}", "C05G4B8R2GG"]
    steps:
      - name: Send Slack notification
        uses: felleslosninger/github-actions/send-slack-notification@e4ba7c675762d5e9d3eeb48d6b75042e3dd325d3 # pin@v0.7.5
        with:
          slack-channel-id: ${{ matrix.slack-channel }}
          slack-bot-token: ${{ secrets.SLACK_CICD_NOTIFICATION_TOKEN }}
          failed: "true"
